.pesquisar{
    height: 470px;
    margin-bottom: 20px;
    padding: 0.5rem;
}
.pesquisarImg{
    max-height: 180px;
    width: auto;
    object-fit: cover;
}
.resultDesc{
    text-transform: capitalize;
    white-space:normal;
    width: 100%;
    height: 82%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.badge.badge-info.float-right{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}
select.keyword>option{
    text-transform: capitalize;
}   