@media screen and (max-device-width: 480px){
    .acoes-recentes{
        margin-top: 0.25rem;
        background-size: 100%!important;
        width: auto !important;
        object-fit: contain;
        color: white;
        height: 220px !important;
        overflow: hidden;
        background-position: center!important;
        background-repeat: no-repeat, repeat!important;
        transition: width 0.25s,height 0.25s,background-size 0.5s;
        border-radius: 1.25rem!important;
        margin-bottom: 0.5rem;
        align-items: center !important;
        display: grid;
        padding: 2rem;
    }
}
/* pc e telas medias  */
@media screen and (min-width:992px){
    .acoes-recentes{
        background-size: 100%!important;
        width: auto !important;
        object-fit: contain;
        color: white;
        height: 220px !important;
        overflow: hidden;
        background-position: center!important;
        background-repeat: no-repeat, repeat!important;
        transition: width 0.25s,height 0.25s,background-size 0.5s;
        border-radius: 1.25rem!important;
        margin-left: 2.5rem;
        margin-top: 0.25rem;
        margin-bottom: 4.5rem;
        align-items: center !important;
        align-content: center;
        display: grid;
        /* margin: 2.5rem; */
    }
    .acoes-recentes:hover{
        padding: 0.5rem;
        object-fit: fill;
        -webkit-transition: width 0.25s; /* For Safari 3.1 to 6.0 */
        transition: width 0.25s,height 0.25s,background-size 0.5s;
        background-size:110%!important;
    }
}