<div class="row text-white">
    <!-- conteudo do login -->
    <div class="col-sm-8 mx-auto cadastro p-4">
        <!-- Logo -->
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-5 col-md-4 offset-md-4 animated zoomIn delay-1s fast ">
                <img src="imgs/logo.png" alt="Logo EcoThink" class="img-fluid d-block logo">
            </div>
        </div>
        <!-- titulo -->
        <div class="row animated bounceInUp delay-1s fast">
            <div class="col-12 titulo-cadastro">
                <div class="text-group text-center ">
                    <h3 class="display-4 ">Confirmar</h3>
                    <p class="lead">Favor Confirme o codigo que lhe foi enviado!</p>
                </div>
            </div>
        </div>
        <!-- formularios -->
        <form novalidate ng-submit="submeter(usuario)">
            <div class="row animated bounceIn delay-1s slow">
                <div class="col-12 col-sm-12 p-4 mt-2 text-dark shadow bg-white arredondar">
                    <!-- form -->
                    <div class="row">
                        <div class="col-12 form-login">
                            <div class="form-group">
                                <label>Token</label>
                                <input type="text" name="token" ng-model="usuario.token" ng-class="{'is-valid':isValid}"
                                    class="form-control form-control-md" placeholder="Digite seu codigo">
                                <div ng-if="isValid" class="valid-feedback">
                                    Valido!
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- buttom -->
                    <div class="row">
                        <div class="col-12 botao-cadastro ">
                            <button class="btn btn-block mx-auto shadow bg-info p-3 mt-3 mb-4 border-rounded text-white"
                                type="submit" ng-disabled="!usuario">Ativar Conta</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>