<!-- icones e legenda -->
<div class="row p-3">
    <div class="col-sm-12 legenda-perfil animated  bounceInLeft delay-1s">
        <div class="row">
            <div class="col-2 icone-voltar">
                <a href="javascript:history.back()"><i class="fas fa-times"></i></a>
            </div>
            <div class="col-8 legenda text-center">
                <h4 class="h4">Editar Endereço</h4>
            </div>
            <div class="col-2 icone-config icone-editarEndereco">
                <a href="#" ng-click="enviar(usuario)"><i class="fas fa-check"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 col-12 mt-4 p-3 animated bounceInRight delay-1s ">
        <form novalidate>
            <div class="row">
                <div class="form-group col-6">
                    <label for="exampleInputEmail1">CEP</label>
                    <input type="text" ng-model="usuario.cep" class="form-control" ui-mask="99999-999"
                        ui-mask-placeholder aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Insira o CEP do lugar onde Mora.</small>
                </div>
                <div class="form-group col-6">
                    <label for="exampleInputPassword1">Nº</label>
                    <input type="password" ng-model="usuario.numero" class="form-control" placeholder="948">
                    <small id="emailHelp" class="form-text text-muted">Nos não compartilharemos seus dados.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Endereço</label>
                <input type="text" ng-model="usuario.endereco" class="form-control" id="exampleInputEmail1"
                    placeholder="Av. Dr. Dos Santos">
                <small id="emailHelp" class="form-text text-muted">Seu Endereço não será apresentado para mais ninguem
                    !</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Bairro</label>
                <input type="text" ng-model="usuario.bairro" class="form-control" id="exampleInputEmail1"
                    placeholder="Rio Grande">
                <small id="emailHelp" class="form-text text-muted">Nos não compartilharemos seus dados.</small>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Cidade</label>
                <select ng-options="x.nome for x in municipios" ng-model="usuario.cidade" class="form-control"></select>
                <small id="emailHelp" class="form-text text-muted">Seleciona ai consagrado.</small>
            </div>
        </form>
    </div>
</div>