<div class="row">
    <section class="col-md-12 corpo mt-3">
        <div class="row">
            <section class="col-md-12 img">
                <img class="img-fluid" src="{{eventImage}}" alt="">
            </section>
            <section class="col-md-12 titulo">
                <h2 class="display-5 mt-3">{{eventoUnico.nome}}</h2>
                <h4 class="h4 mb-4"><a href="/user/usuario/{{eventoUnico.idOrganizador}}">{{eventoUnico.usuario}}</a>
                </h4>
            </section>
            <section class="col-md-12 conteudo">
                <div class="row">
                    <section class="col-1 icon">
                        <i class="far fa-calendar-alt"></i>
                    </section>
                    <section class="col-10 text">
                        <h6 class="h6">Sabado, maio 18</h6>
                        <p class="lead">10:30 - 18:30 AM</p>
                    </section>
                </div>
                <div class="row">
                    <section class="col-1 icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </section>
                    <section class="col-10 text">
                        <h6 class="h6">Localização</h6>
                        <p class="lead">{{eventoUnico.endereco}}</p>
                    </section>
                </div>
                <div class="row">
                    <section class="col-1 icon">
                        <i class="fas fa-user-friends"></i>
                    </section>
                    <section class="col-10 text">
                        <h6 class="h6">Participantes</h6>
                        <p class="lead">23823 Participantes</p>
                    </section>
                </div>
                <div class="row">
                    <section class="col-12">
                        <h4 class="h4">Informações</h4>
                        <p>{{eventoUnico.descricao}}</p>
                    </section>
                </div>
                <div class="row">
                    <section class="col-12 mb-5">
                        <button class="btn  btn-block btn-primary btn-lg">Inscrever</button>
                    </section>
                </div>

                <button class="btn btn-block btn-outline-dark">Registrar</button>
            </section>
        </div>
    </section>
</div>