<div class="row">
    <section class="col-12 col-md-12 corpo mt-3 mb-5">
        <div class="row">
            <div class="col-md-12 seus eventos">

            </div>
        </div>
        <div class="row">
            <section class="col-md-12 geral mb-5">
                <div class="row">
                    <div class="col-md-12 titulo">
                        <h2 class="h2 text-center">Eventos Proximos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 evento evento-inicial">
                        <div class="text-group">
                            <h3 class="h3"><a href="/user/usuario">Devolopers-Br</a></h3>
                            <h6 class="h6">Google online tech talk session 3:an introduction to the sparck runner</h6>
                            <p class="lead"> Ave, Westminster, CO 80020, Estados Unidos, 14:00</p> 
                            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>                         
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-outline-dark">Ver Mais Info</button>
                        </div>
                    </div>
                    <div class="col-md-12 evento evento-inicial">
                        <div class="text-group">
                            <h3 class="h3">Devolopers-Br</h3>
                            <h6 class="h6">Google online tech talk session 3:an introduction to the sparck runner</h6>
                            <p class="lead"> Ave, Westminster, CO 80020, Estados Unidos, 14:00</p> 
                            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>                         
                        </div>
                        <div class="form-group">
                            <a class="btn btn-block btn-outline-dark" href="/user/evento">Ver Mais Info</a>
                        </div>
                    </div>
                    <div class="col-md-12 evento evento-inicial">
                        <div class="text-group">
                            <h3 class="h3">Devolopers-Br</h3>
                            <h6 class="h6">Google online tech talk session 3:an introduction to the sparck runner</h6>
                            <p class="lead"> Ave, Westminster, CO 80020, Estados Unidos, 14:00</p> 
                            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>                         
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-outline-dark">Ver Mais Info</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>