<div class="row">
    <section class="col-md-12  geral mt-3 mb-5">
        <div class="row">
            <div class="col-md-12 titulo animated mb-5 bounceInRight delay-1s slow">
                <h2 class="h2 text-center">Pesquisa</h2>
            </div>
        </div>
        <div class="row">
            <section class="col-md-12 opcoes shadow rounded p-5 animated bounceInRight delay-1s slow">
                <div class="row">
                    <div class="col-md-3">Nome Evento: <input type="text" class="form-control" name="" id=""></div>
                    <div class="col-md-3 col-12">
                        Categoria
                        <select class="form-control" name="" id="">
                            <option value="">Selecione a Categoria</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-3 col-12">
                        Cidade
                        <select class="form-control" name="" id="">
                            <option value="">Selecione a Cidade</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-3 col-12">
                        Açoes
                        <br>
                        <button class="btn   btn-outline-danger">Reset</button>
                        <button class="btn   btn-outline-dark">Enviar</button>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-md-12 p-5 animated bounceInLeft delay-1s slow">
                <h3 class="h3 text-center">Resultados</h3>
            </section>
        </div>
        <div class="row mb-5">
            <section class="col-md-4 col-12 animated bounceInLeft delay-1s slow">
                <div class="card">
                    <img src="https://lh3.googleusercontent.com/Nua32L2HkOrjoJg8UOnN8sXo--2cl70NneIwG2CMLUGcfKtwcmPrEo5GoWBFTaUL_NsOboTBuDnAwAyjokuXvqBreF1hnos6Bu1Ytw"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </section>
            <section class="col-md-4 col-12 animated bounceInRight delay-1s slow">
                <div class="card">
                    <img src="https://lh3.googleusercontent.com/Nua32L2HkOrjoJg8UOnN8sXo--2cl70NneIwG2CMLUGcfKtwcmPrEo5GoWBFTaUL_NsOboTBuDnAwAyjokuXvqBreF1hnos6Bu1Ytw"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </section>
            <section class="col-md-4 col-12 animated bounceInRight delay-1s slow">
                <div class="card">
                    <img src="https://lh3.googleusercontent.com/Nua32L2HkOrjoJg8UOnN8sXo--2cl70NneIwG2CMLUGcfKtwcmPrEo5GoWBFTaUL_NsOboTBuDnAwAyjokuXvqBreF1hnos6Bu1Ytw"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>