<!-- icones e legenda -->
<div class="row p-3">
    <div class="col-sm-12 legenda-perfil animated  bounceInLeft delay-1s slow">
        <div class="row">
            <div class="col-2 icone-voltar">
                <a href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="col-8 legenda text-center">
                <h3 class="h3">Seus Eventos</h3>
            </div>
            <div class="col-2 icone-config">
                <i class="fas fa-cog"></i>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12 offset-1 col-md-6 acoes-recentes animated pulse delay-1s fast"
        style="background: linear-gradient(rgba(99, 99, 99, 0.8), rgba(99, 99, 99, 0.8)),url({{aleatorio[5].img}});">
        <a href="user/evento" class="stretched-link text-white">
            <h6 class="text-center">{{aleatorio[5].nome}}</h6>
        </a>
    </div>
</div> -->